AgentforceHackathon/force-app/main/default/flows/DrivingDataTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Driving_Data_Review_2_Action_1</name>
        <label>Driving Data Review 2 Action 1</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <actionName>Driving_Data_Review_2</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CheckIfRisky</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:DrivingData</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driving_Data_Review_2</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>v_PromptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignClassificationAverage</name>
        <label>AssignClassificationAverage</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ClassificationAverage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfMeetingRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClassificationGood</name>
        <label>AssignClassificationGood</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ClassificationGood</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfMeetingRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClassificationRisky</name>
        <label>AssignClassificationRisky</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ClassificationRisky</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfMeetingRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNextStepEmail</name>
        <label>AssignNextStepEmail</label>
        <locationX>347</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify the customer with safety tips</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_driving_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNextStepMeetingRequired</name>
        <label>AssignNextStepMeetingRequired</label>
        <locationX>83</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recommend scheduling a meeting with a technician for driving coaching</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_driving_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfAverage</name>
        <label>CheckIfAverage</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckIfGood</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoItsNotAverage</defaultConnectorLabel>
        <rules>
            <name>YesItsAverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_PromptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>v_ClassificationAverage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClassificationAverage</targetReference>
            </connector>
            <label>YesItsAverage</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfEmailRequired</name>
        <label>CheckIfEmailRequired</label>
        <locationX>479</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Update_driving_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesEmailRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_PromptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>v_NextStepEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNextStepEmail</targetReference>
            </connector>
            <label>YesEmailRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfGood</name>
        <label>CheckIfGood</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CheckIfMeetingRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesItsGood</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_PromptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>v_ClassificationGood</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClassificationGood</targetReference>
            </connector>
            <label>YesItsGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfMeetingRequired</name>
        <label>CheckIfMeetingRequired</label>
        <locationX>281</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>CheckIfEmailRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMeetingRequired</defaultConnectorLabel>
        <rules>
            <name>YesMeetingRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_PromptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>v_NextStepMeetingRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNextStepMeetingRequired</targetReference>
            </connector>
            <label>YesMeetingRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfRisky</name>
        <label>CheckIfRisky</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckIfAverage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoItsNotRisky</defaultConnectorLabel>
        <rules>
            <name>YesIfRisky</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_PromptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>v_ClassificationRisky</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClassificationRisky</targetReference>
            </connector>
            <label>YesIfRisky</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DrivingDataTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DrivingDataTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_driving_data</name>
        <label>Update driving data</label>
        <locationX>281</locationX>
        <locationY>1607</locationY>
        <inputAssignments>
            <field>Review_Result__c</field>
            <value>
                <elementReference>v_PromptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>case_swarming__Agent_Work_Trigger</sourceTemplate>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Driving_Data_Review_2_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Action Completed.</stringValue>
            </value>
        </filters>
        <filters>
            <field>Next_Step__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Driving_data__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Issues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Classification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ClassificationAverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Average</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_ClassificationGood</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_ClassificationRisky</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Risky</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_NextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_NextStepEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Notify the customer with safety tips</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_NextStepMeetingRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Recommend scheduling a meeting with a technician for driving coaching</stringValue>
        </value>
    </variables>
    <variables>
        <description>Hold prompt response. The response includes the driving style result.</description>
        <name>v_PromptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
